Repository setup-actions-demo/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

Also install and copy `libtiledb.so`
  libtiledbsoma/cmake/Modules/TileDBCommon.cmake
Due: none

Set TileDB Path Location in `bld` Script
  apis/python/setup.py
Due: none

WIP
  apis/python/setup.py
Due: none

[python] Support installing from GH
  apis/python/setup.py
  apis/python/src/tiledbsoma/__init__.py
  apis/python/src/tiledbsoma/_tiledb_array.py
  codecov.yml
  libtiledbsoma/cmake/Modules/TileDBCommon.cmake
Due: python_api

WIP Reduced from 58 to 42 threads locally
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_factory.py
  apis/python/src/tiledbsoma/soma_object.cc
  libtiledbsoma/src/soma/managed_query.h
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/soma/soma_object.cc
Due: python_api, libtiledbsoma

WIP reduce even more threads, add SOMAContext, refactor inheritance for SOMAGroup
  apis/python/setup.py
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_factory.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/options/_soma_tiledb_context.py
  apis/python/src/tiledbsoma/pytiledbsoma.cc
  apis/python/src/tiledbsoma/soma_array.cc
  apis/python/src/tiledbsoma/soma_dataframe.cc
  apis/python/src/tiledbsoma/soma_dense_ndarray.cc
  apis/python/src/tiledbsoma/soma_object.cc
  apis/python/src/tiledbsoma/soma_sparse_ndarray.cc
  libtiledbsoma/src/CMakeLists.txt
  libtiledbsoma/src/cli/cli.cc
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/soma/soma_collection.cc
  libtiledbsoma/src/soma/soma_collection.h
  libtiledbsoma/src/soma/soma_dataframe.cc
  libtiledbsoma/src/soma/soma_dataframe.h
  libtiledbsoma/src/soma/soma_dense_ndarray.cc
  libtiledbsoma/src/soma/soma_dense_ndarray.h
  libtiledbsoma/src/soma/soma_experiment.cc
  libtiledbsoma/src/soma/soma_experiment.h
  libtiledbsoma/src/soma/soma_group.cc
  libtiledbsoma/src/soma/soma_group.h
  libtiledbsoma/src/soma/soma_measurement.cc
  libtiledbsoma/src/soma/soma_measurement.h
  libtiledbsoma/src/soma/soma_object.cc
  libtiledbsoma/src/soma/soma_object.h
  libtiledbsoma/src/soma/soma_sparse_ndarray.cc
  libtiledbsoma/src/soma/soma_sparse_ndarray.h
  libtiledbsoma/src/tiledbsoma/tiledbsoma
  libtiledbsoma/test/unit_soma_array.cc
  libtiledbsoma/test/unit_soma_collection.cc
  libtiledbsoma/test/unit_soma_dataframe.cc
  libtiledbsoma/test/unit_soma_dense_ndarray.cc
  libtiledbsoma/test/unit_soma_group.cc
  libtiledbsoma/test/unit_soma_sparse_ndarray.cc
Due: python_api, libtiledbsoma

WIP fix byte error
  apis/python/setup.py
  apis/python/src/tiledbsoma/_collection.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/_tiledb_object.py
  apis/python/src/tiledbsoma/options/_soma_tiledb_context.py
  apis/python/src/tiledbsoma/pytiledbsoma.cc
  apis/python/src/tiledbsoma/soma_object.cc
  libtiledbsoma/src/soma/soma_measurement.h
  libtiledbsoma/src/soma/soma_object.cc
Due: python_api, libtiledbsoma

WIP formatting and typing
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/_tiledb_object.py
  apis/python/src/tiledbsoma/options/_soma_tiledb_context.py
Due: python_api

Add new files
  apis/python/src/tiledbsoma/soma_collection.cc
  apis/python/src/tiledbsoma/soma_context.cc
  apis/python/src/tiledbsoma/soma_group.cc
  libtiledbsoma/src/soma/soma_context.h
Due: python_api, libtiledbsoma

Use copy not move semantics in copy constructor
  libtiledbsoma/src/soma/managed_query.h
Due: libtiledbsoma

Use constructor not copy constructor
  libtiledbsoma/src/soma/managed_query.h
Due: libtiledbsoma

WIP pass all exception types
  apis/python/src/tiledbsoma/_tdb_handles.py
Due: python_api

WIP reintro cfg option
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
Due: libtiledbsoma

indexer context threadpool
  apis/python/src/tiledbsoma/_index_util.py
  apis/python/src/tiledbsoma/reindexer.cc
  libtiledbsoma/src/reindexer/reindexer.cc
  libtiledbsoma/src/reindexer/reindexer.h
  libtiledbsoma/src/soma/soma_context.h
  libtiledbsoma/test/test_indexer.cc
Due: python_api, libtiledbsoma

More lower-level wiring of nanoarrow
  apis/r/R/utils-arrow.R
  apis/r/R/utils-readerTransformers.R
  apis/r/src/RcppExports.cpp
  apis/r/src/rinterface.cpp
  apis/r/src/riterator.cpp
  apis/r/tests/testthat/test-SOMAArrayReader-Iterated.R
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: libtiledbsoma

Update nanoarrow vendored files to nanoarrow 0.4.0
  apis/r/src/nanoarrow.c
  apis/r/src/nanoarrow.h
  apis/r/src/rutilities.cpp
Due: none

Low-level wiring of nanoarrow at sr_* level
  apis/r/DESCRIPTION
  apis/r/NAMESPACE
  apis/r/R/RcppExports.R
  apis/r/src/RcppExports.cpp
  apis/r/src/riterator.cpp
  apis/r/src/rutilities.h
Due: none

WIP snapshot with nanoarrow wired into libtiledbsoma
  apis/r/src/rinterface.cpp
  apis/r/src/riterator.cpp
  apis/r/tests/testthat/helper-test-data.R
  apis/r/tests/testthat/test-Factory.R
  libtiledbsoma/src/CMakeLists.txt
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
  libtiledbsoma/src/utils/nanoarrow.c
  libtiledbsoma/src/utils/nanoarrow.h
  libtiledbsoma/src/utils/nanoarrow.hpp
Due: libtiledbsoma

Context wrapped in a special purpose struct should not finalize
  apis/r/src/riterator.cpp
Due: none

Use nanoarrow 0.4.0 consistently
  apis/r/src/nanoarrow.c
  apis/r/src/nanoarrow.h
  apis/r/src/nanoarrow.hpp
  apis/r/src/rinterface.cpp
  libtiledbsoma/src/utils/nanoarrow.c
  libtiledbsoma/src/utils/nanoarrow.h
Due: libtiledbsoma

Simpler and faster r-ci.yaml
  .github/workflows/r-ci.yml
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: libtiledbsoma

Ensure nullable is set correctly in either case
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: libtiledbsoma

Refined arrow_adapter
  apis/r/tests/testthat/test-SCEOutgest.R
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: libtiledbsoma

Turn trace back of, do not include carrow in cli
  apis/r/tests/testthat/test-SCEOutgest.R
  libtiledbsoma/src/cli/cli.cc
Due: none

Do not include carrow.h in reindexer.cc
  apis/python/src/tiledbsoma/reindexer.cc
Due: python_api

Set increased timeout for download.file to survive GH flakyness
  apis/r/tools/r-ci.sh
Due: none

[c++] Fix segfault issues
  apis/python/src/tiledbsoma/reindexer.cc
  libtiledbsoma/src/cli/cli.cc
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
  libtiledbsoma/src/utils/nanoarrow.h
Due: python_api, libtiledbsoma

Add additional necessary strdup
  libtiledbsoma/CMakeLists.txt
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: libtiledbsoma

Add additional types
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: libtiledbsoma

[r] Update version of `pbmc3k.sce` used Use newer version of `pbmc3k.sce` for testing; there's no real differences other than the way the package is built
  apis/r/DESCRIPTION
  apis/r/tests/testthat/test-SingleCellExperimentIngest.R
  apis/r/tests/testthat/test-SummarizedExperimentIngest.R
Due: none

WIP
  apis/python/src/tiledbsoma/_collection.py
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_dense_nd_array.py
  apis/python/src/tiledbsoma/_experiment.py
  apis/python/src/tiledbsoma/_measurement.py
  apis/python/src/tiledbsoma/_sparse_nd_array.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/_tiledb_object.py
Due: python_api

debug
  apis/python/src/tiledbsoma/_tdb_handles.py
Due: python_api

bugfix but with type-check fail
  apis/python/src/tiledbsoma/_collection.py
  apis/python/src/tiledbsoma/_tdb_handles.py
Due: python_api

Check pointers before freeing; add missing strdups
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: libtiledbsoma

WIP
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: libtiledbsoma

Remove strdup for dict format
  apis/r/.Rbuildignore
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: libtiledbsoma

WIP hardcode dump log
  .github/workflows/r-ci.yml
Due: none

Remove private data
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/managed_query.h
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/utils/arrow_adapter.cc
Due: libtiledbsoma

[ci] 2424+2415 [WIP]
  apis/r/DESCRIPTION
  apis/r/NAMESPACE
  apis/r/R/SOMAExperimentAxisQuery.R
  apis/r/R/utils.R
Due: none

Omit tiledb installation from r-universe
  .github/workflows/r-valgrind.yaml
Due: none

Path conditions:
  python_api: any of: apis/python/src/tiledbsoma/**, but not: apis/r/inst/tiledb/, apis/python/devtools/, apis/python/src/tiledbsoma/__init__.py
  libtiledbsoma: any of: libtiledbsoma/src/tiledbsoma/**, libtiledbsoma/src/soma/**, libtiledbsoma/src/utils/**, but not: apis/r/inst/tiledb/, apis/python/devtools/, apis/python/src/tiledbsoma/__init__.py
