Repository setup-actions-demo/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

preserve index name on ingest/outgest round trip
  apis/python/src/tiledbsoma/io/_registration/signatures.py
  apis/python/src/tiledbsoma/io/ingest.py
  apis/python/src/tiledbsoma/io/outgest.py
  apis/python/tests/test_basic_anndata_io.py
Due: python_api

`_update_dataframe` error msg improvement
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

WIP initial commit
  apis/python/src/tiledbsoma/_scene.py
  apis/python/src/tiledbsoma/_tdb_handles.py
Due: python_api

[c++,python] Support and test `Scene`
  apis/python/setup.py
  apis/python/src/tiledbsoma/__init__.py
  apis/python/src/tiledbsoma/_scene.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/soma_collection.cc
  apis/python/src/tiledbsoma/soma_object.cc
  libtiledbsoma/src/CMakeLists.txt
  libtiledbsoma/src/soma/soma_object.cc
  libtiledbsoma/src/soma/soma_scene.cc
  libtiledbsoma/src/soma/soma_scene.h
Due: python_api, libtiledbsoma

Add pytest spatial
  apis/python/tests/test_spatial.py
Due: none

Add spatial to Experiment
  apis/python/src/tiledbsoma/_experiment.py
  apis/python/src/tiledbsoma/_factory.py
  apis/python/tests/test_experiment_basic.py
  apis/python/tests/test_spatial.py
Due: python_api

add missing `ingest_mode` kwarg
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

rm unused `{obs,var}_field_name` kwargs
  apis/python/src/tiledbsoma/io/_registration/ambient_label_mappings.py
Due: python_api

fix docstring typos
  apis/python/src/tiledbsoma/io/_registration/ambient_label_mappings.py
  apis/python/src/tiledbsoma/io/_registration/signatures.py
  apis/python/src/tiledbsoma/io/ingest.py
  apis/python/tests/test_update_dataframes.py
Due: python_api

rm unused `measurement_name` kwarg
  apis/python/tests/test_registration_mappings.py
Due: none

ingest.py: add+document `PlatformCtx` type-alias, document `IngestCtx`
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

factor `uns_coll` var
  apis/python/src/tiledbsoma/io/outgest.py
Due: python_api

fix no-op `pytest.xfail`
  apis/python/tests/test_collection.py
Due: none

`Uns` type alias
  apis/python/src/tiledbsoma/io/ingest.py
  apis/python/src/tiledbsoma/io/outgest.py
Due: python_api

document lint rules in pyproject.toml
  apis/python/pyproject.toml
Due: none

`test_registration_mappings`: import tweaks, `test_pandas_indexing` cleanup
  apis/python/tests/test_registration_mappings.py
Due: none

deepcopy anndata in tests
  apis/python/tests/test_basic_anndata_io.py
Due: none

rm unused `measurement_name` param
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

rm unused `id_column_name` arg
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

cr
  apis/python/src/tiledbsoma/io/_common.py
  apis/python/src/tiledbsoma/io/_registration/ambient_label_mappings.py
  apis/python/src/tiledbsoma/io/ingest.py
  apis/python/src/tiledbsoma/io/outgest.py
Due: python_api

verify SOMAError msgs in new tests
  apis/python/tests/test_query_condition.py
Due: none

`test_registration_mappings::test_pandas_indexing` reformat
  apis/python/tests/test_registration_mappings.py
Due: none

reorder, comment test cases
  apis/python/tests/test_registration_mappings.py
Due: none

`python-ci-single.yml`: bump `actions/{checkout,setup-python,cache}` versions
  .github/workflows/python-ci-single.yml
Due: none

add scripts/hash-files.py
  scripts/hash-files.py
Due: none

CI dbg: rm 3.8, build jobs
  .github/workflows/python-ci-minimal.yml
  .github/workflows/python-ci-single.yml
Due: none

fail-fast: false, rm unrelated GHAs
  .github/workflows/libtiledb-ci.yml
  .github/workflows/python-ci-minimal.yml
  .github/workflows/r-ci.yml
  .github/workflows/r-python-interop-testing.yml
Due: none

more hash-files debugging
  .github/workflows/python-ci-single.yml
Due: none

clean up CI hash dbg output
  .github/workflows/python-ci-single.yml
  scripts/hash-files.py
Due: none

use `hashFiles`
  .github/workflows/python-ci-single.yml
  scripts/hash-files.py
Due: none

commit old-python-ci-single.yml
  .github/workflows/python-ci-single.yml
  old-python-ci-single.yml
Due: none

[python] Add `VFS` binding in pybind11
  apis/python/setup.py
  apis/python/src/tiledbsoma/io/_util.py
  apis/python/src/tiledbsoma/vfs.cc
Due: python_api

[python] [NO MERGE UNTIL 1.14] Remove tiledb-py dependency
  apis/python/setup.py
  apis/python/src/tiledbsoma/_measurement.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/io/_registration/ambient_label_mappings.py
  apis/python/src/tiledbsoma/io/_util.py
  apis/python/src/tiledbsoma/io/ingest.py
  apis/python/src/tiledbsoma/options/_soma_tiledb_context.py
  apis/python/src/tiledbsoma/options/_tiledb_create_write_options.py
  apis/python/src/tiledbsoma/pytiledbsoma.cc
  apis/python/src/tiledbsoma/soma_array.cc
  apis/python/src/tiledbsoma/vfs.cc
  apis/python/tests/test_basic_anndata_io.py
  apis/python/tests/test_context.py
  apis/python/tests/test_dataframe.py
  apis/python/tests/test_dataframe_index_columns.py
  apis/python/tests/test_dense_nd_array.py
  apis/python/tests/test_experiment_query.py
  apis/python/tests/test_factory.py
  apis/python/tests/test_platform_config.py
  apis/python/tests/test_sparse_nd_array.py
  apis/python/tests/test_util_tiledb.py
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
Due: python_api, libtiledbsoma

revert arrow adapter code
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
Due: libtiledbsoma

revert
  apis/python/src/tiledbsoma/_measurement.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/io/ingest.py
  apis/python/src/tiledbsoma/soma_array.cc
  apis/python/src/tiledbsoma/soma_collection.cc
Due: python_api

[python] Skip tests that use tiledb-py if not installed
  apis/python/tests/test_basic_anndata_io.py
  apis/python/tests/test_context.py
  apis/python/tests/test_dataframe.py
  apis/python/tests/test_dataframe_index_columns.py
  apis/python/tests/test_dense_nd_array.py
  apis/python/tests/test_experiment_query.py
  apis/python/tests/test_factory.py
  apis/python/tests/test_platform_config.py
  apis/python/tests/test_sparse_nd_array.py
  apis/python/tests/test_util_tiledb.py
Due: none

Load VFS in pytiledbsoma.cc
  apis/python/src/tiledbsoma/pytiledbsoma.cc
Due: python_api

Replace tiledb.Ctx->SOMAContext in read_h5ad
  apis/python/src/tiledbsoma/io/_registration/ambient_label_mappings.py
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

Add metadata hints for v5 writing Expand tests
  apis/r/R/utils-seurat.R
  apis/r/R/write_seurat.R
  apis/r/tests/testthat/test-SeuratIngest.R
Due: none

Path conditions:
  python_api: any of: apis/python/src/tiledbsoma/**, but not: apis/r/inst/tiledb/, apis/python/devtools/, apis/python/src/tiledbsoma/__init__.py
  libtiledbsoma: any of: libtiledbsoma/src/tiledbsoma/**, libtiledbsoma/src/soma/**, libtiledbsoma/src/utils/**, but not: apis/r/inst/tiledb/, apis/python/devtools/, apis/python/src/tiledbsoma/__init__.py
