Repository setup-actions-demo/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

codecov.yml:

coverage:
  range: "90...95"

ignore:
  - "apis/r/inst/tiledb/"
  - "apis/python/devtools/"
  - "apis/python/src/tiledbsoma/__init__.py"

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  individual_components:
    - component_id: python_api
      name: python_api
      paths:
        - apis/python/src/tiledbsoma/**
    - component_id: libtiledbsoma
      name: libtiledbsoma
      paths:
        - libtiledbsoma/src/tiledbsoma/**
        - libtiledbsoma/src/soma/**
        - libtiledbsoma/src/utils/**

Add new helpers to generate metadata for v5 ingestion
  apis/r/R/utils-seurat.R
  apis/r/R/utils.R
Due: none

Update tests and docs
  apis/r/R/write_seurat.R
  apis/r/man/write_soma.Seurat.Rd
  apis/r/man/write_soma_seurat_sub.Rd
  apis/r/tests/testthat/test-SeuratIngest.R
Due: none

[python] Do not pass timestamp to `create` if not given
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_dense_nd_array.py
  apis/python/src/tiledbsoma/_sparse_nd_array.py
Due: python_api

[python] NumPy 2 experiment [WIP]
  apis/python/setup.py
Due: none

[c++] Reduce CI-build-output depcreation-warning lines
  libtiledbsoma/CMakeLists.txt
Due: none

debug
  scripts/bld
Due: none

Update somacore version for Python API and pre-commit
  .pre-commit-config.yaml
  apis/python/setup.py
Due: none

Update name for Image2DCollection -> MultiscaleImage in libtiledbsoma
  libtiledbsoma/src/CMakeLists.txt
  libtiledbsoma/src/soma/soma_multiscale_image.cc
  libtiledbsoma/src/soma/soma_multiscale_image.h
  libtiledbsoma/src/soma/soma_object.cc
  libtiledbsoma/src/tiledbsoma/tiledbsoma
Due: libtiledbsoma

debug [skip ci]
  libtiledbsoma/cmake/Modules/FindTileDB_EP.cmake
Due: none

debug
  libtiledbsoma/src/CMakeLists.txt
Due: none

next try
  apis/python/setup.py
  libtiledbsoma/CMakeLists.txt
  libtiledbsoma/cmake/Modules/FindTileDB_EP.cmake
  libtiledbsoma/src/CMakeLists.txt
  libtiledbsoma/test/unit_column_buffer.cc
  scripts/bld
Due: none

Merge and rename ImageCollection/Image2DCollection -> MultiscaleImage
  apis/python/src/tiledbsoma/__init__.py
  apis/python/src/tiledbsoma/_factory.py
  apis/python/src/tiledbsoma/_images.py
  apis/python/src/tiledbsoma/_scene.py
  apis/python/src/tiledbsoma/_soma_object.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/experimental/ingest.py
  apis/python/src/tiledbsoma/io/ingest.py
  apis/python/src/tiledbsoma/soma_collection.cc
  apis/python/src/tiledbsoma/soma_object.cc
Due: python_api

Update MultiscaleImage to support update somacore spec
  apis/python/notebooks/tutorial_spatial.ipynb
  apis/python/src/tiledbsoma/_collection.py
  apis/python/src/tiledbsoma/_images.py
  apis/python/src/tiledbsoma/_scene.py
  apis/python/src/tiledbsoma/_soma_group.py
  apis/python/src/tiledbsoma/experimental/ingest.py
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

Update python-ci-single.yml
  .github/workflows/python-ci-single.yml
Due: none

Create old-python-ci-single.yml
  old-python-ci-single.yml
Due: none

Update python-ci-minimal.yml
  .github/workflows/python-ci-minimal.yml
Due: none

Update setup.py
  apis/python/setup.py
Due: none
