Repository setup-actions-demo/TileDB-SOMA: changes, and which Codecov flags are due for each by the changed paths.
All: python_api, libtiledbsoma

codecov.yml:

coverage:
  range: "90...95"

ignore:
  - "apis/r/inst/tiledb/"
  - "apis/python/devtools/"
  - "apis/python/src/tiledbsoma/__init__.py"

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  individual_components:
    - component_id: python_api
      name: python_api
      paths:
        - apis/python/src/tiledbsoma/**
    - component_id: libtiledbsoma
      name: libtiledbsoma
      paths:
        - libtiledbsoma/src/tiledbsoma/**
        - libtiledbsoma/src/soma/**
        - libtiledbsoma/src/utils/**

Revert Init.R comparison
  apis/r/R/Init.R
Due: none

Tweak comparison, limit tiledb version
  apis/r/DESCRIPTION
  apis/r/R/Init.R
Due: none

Relax strict version comparison to major.minor comparison
  apis/r/R/Init.R
Due: none

Minimize change
  apis/r/DESCRIPTION
  apis/r/R/Init.R
Due: none

Update DESCRIPTION
  apis/r/DESCRIPTION
Due: none

temp
  libtiledbsoma/src/soma/managed_query.cc
Due: libtiledbsoma

Adapt for R
  apis/r/R/SOMADenseNDArray.R
  apis/r/src/rinterface.cpp
Due: none

debug
  apis/r/R/SOMAExperimentAxisQuery.R
  apis/r/R/TileDBGroup.R
  apis/r/tests/testthat/test-sceo-cutdown.R
Due: none

[python/c++] Use C++ bindings for `SparseNDArray` write path
  apis/python/src/tiledbsoma/_arrow_types.py
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_exception.py
  apis/python/src/tiledbsoma/_sparse_nd_array.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/_tiledb_array.py
  apis/python/src/tiledbsoma/_tiledb_object.py
  apis/python/src/tiledbsoma/_util.py
  apis/python/src/tiledbsoma/soma_array.cc
  apis/python/src/tiledbsoma/soma_object.cc
  apis/python/src/tiledbsoma/soma_sparse_ndarray.cc
  apis/python/tests/test_factory.py
  apis/python/tests/test_sparse_nd_array.py
  libtiledbsoma/src/soma/soma_collection.cc
  libtiledbsoma/src/soma/soma_collection.h
  libtiledbsoma/src/soma/soma_object.cc
  libtiledbsoma/src/soma/soma_sparse_ndarray.cc
  libtiledbsoma/src/soma/soma_sparse_ndarray.h
  libtiledbsoma/test/common.cc
  libtiledbsoma/test/common.h
  libtiledbsoma/test/unit_soma_collection.cc
  libtiledbsoma/test/unit_soma_dataframe.cc
  libtiledbsoma/test/unit_soma_sparse_ndarray.cc
Due: python_api, libtiledbsoma

Make edits according to review comments
  apis/python/src/tiledbsoma/_arrow_types.py
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_exception.py
  apis/python/src/tiledbsoma/_sparse_nd_array.py
  apis/python/src/tiledbsoma/_util.py
Due: python_api

Add tiledb array type for sparse ndarray create
  libtiledbsoma/src/soma/soma_sparse_ndarray.cc
Due: libtiledbsoma

Formatting
  apis/python/src/tiledbsoma/_sparse_nd_array.py
Due: python_api

[python,c++][wip] Use C++ DenseNDArray bindings in Python API
  apis/python/src/tiledbsoma/_dense_nd_array.py
  apis/python/src/tiledbsoma/_sparse_nd_array.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/soma_array.cc
  apis/python/src/tiledbsoma/soma_dense_ndarray.cc
  apis/python/tests/test_dense_nd_array.py
  libtiledbsoma/src/soma/managed_query.cc
  libtiledbsoma/src/soma/managed_query.h
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/soma/soma_collection.cc
  libtiledbsoma/src/soma/soma_collection.h
  libtiledbsoma/src/soma/soma_dense_ndarray.cc
  libtiledbsoma/src/soma/soma_dense_ndarray.h
  libtiledbsoma/src/soma/soma_sparse_ndarray.h
  libtiledbsoma/test/unit_soma_collection.cc
  libtiledbsoma/test/unit_soma_dense_ndarray.cc
  libtiledbsoma/test/unit_soma_sparse_ndarray.cc
Due: python_api, libtiledbsoma

debug
  Makefile
  apis/python/src/tiledbsoma/_dense_nd_array.py
  apis/python/tests/test_io.py
  scripts/bld
Due: python_api

[python] `SOMAGroup` cpp-ification
  apis/python/src/tiledbsoma/soma_collection.cc
  apis/python/src/tiledbsoma/soma_group.cc
  libtiledbsoma/src/soma/soma_collection.h
Due: python_api, libtiledbsoma

WIP
  apis/python/src/tiledbsoma/_util.py
  apis/python/src/tiledbsoma/io/ingest.py
  apis/python/src/tiledbsoma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/utils/arrow_adapter.h
Due: python_api, libtiledbsoma

Move group readpath to use C++
  apis/python/src/tiledbsoma/_collection.py
  apis/python/src/tiledbsoma/_experiment.py
  apis/python/src/tiledbsoma/_measurement.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/soma_group.cc
  libtiledbsoma/src/soma/soma_group.cc
  libtiledbsoma/src/soma/soma_group.h
  libtiledbsoma/test/unit_soma_collection.cc
  libtiledbsoma/test/unit_soma_group.cc
Due: python_api, libtiledbsoma

WIP
  apis/python/src/tiledbsoma/io/ingest.py
  apis/python/src/tiledbsoma/options/_tiledb_create_options.py
Due: python_api

WIP begin moveover
  apis/python/src/tiledbsoma/_collection.py
  apis/python/src/tiledbsoma/_experiment.py
  apis/python/src/tiledbsoma/_measurement.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/common.cc
  apis/python/src/tiledbsoma/common.h
  apis/python/src/tiledbsoma/soma_array.cc
  apis/python/src/tiledbsoma/soma_collection.cc
  apis/python/src/tiledbsoma/soma_group.cc
  apis/python/tests/test_basic_anndata_io.py
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/soma/soma_collection.cc
  libtiledbsoma/src/soma/soma_collection.h
  libtiledbsoma/src/soma/soma_group.h
  libtiledbsoma/src/soma/soma_object.h
Due: python_api, libtiledbsoma

[python] [NO MERGE UNTIL 1.14] Remove tiledb-py dependency
  apis/python/setup.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/options/_soma_tiledb_context.py
  apis/python/src/tiledbsoma/soma_context.cc
  apis/python/tests/test_basic_anndata_io.py
  apis/python/tests/test_context.py
  apis/python/tests/test_dataframe.py
  apis/python/tests/test_dataframe_index_columns.py
  apis/python/tests/test_dense_nd_array.py
  apis/python/tests/test_experiment_query.py
  apis/python/tests/test_factory.py
  apis/python/tests/test_platform_config.py
  apis/python/tests/test_sparse_nd_array.py
  apis/python/tests/test_util_tiledb.py
Due: python_api

Adding to clib.SOMACollection works
  apis/python/src/tiledbsoma/_collection.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/pytiledbsoma.cc
  apis/python/src/tiledbsoma/soma_group.cc
  libtiledbsoma/src/soma/soma_collection.cc
  libtiledbsoma/src/soma/soma_experiment.cc
  libtiledbsoma/src/soma/soma_group.cc
  libtiledbsoma/src/soma/soma_group.h
  libtiledbsoma/src/soma/soma_measurement.cc
  libtiledbsoma/test/unit_soma_group.cc
Due: python_api, libtiledbsoma

SOMAGroup write path complete; TileDBObject --> SOMAObject
  apis/python/src/tiledbsoma/_collection.py
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_dense_nd_array.py
  apis/python/src/tiledbsoma/_experiment.py
  apis/python/src/tiledbsoma/_factory.py
  apis/python/src/tiledbsoma/_measurement.py
  apis/python/src/tiledbsoma/_soma_array.py
  apis/python/src/tiledbsoma/_soma_object.py
  apis/python/src/tiledbsoma/_sparse_nd_array.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/io/ingest.py
  apis/python/src/tiledbsoma/soma_collection.cc
  apis/python/src/tiledbsoma/soma_group.cc
  apis/python/tests/test_basic_anndata_io.py
  apis/python/tests/test_collection.py
  libtiledbsoma/src/soma/soma_experiment.h
  libtiledbsoma/src/soma/soma_group.cc
  libtiledbsoma/src/soma/soma_measurement.h
Due: python_api, libtiledbsoma

WIP remove works to delete objects from group
  apis/python/src/tiledbsoma/soma_group.cc
Due: python_api

WIP
  apis/python/src/tiledbsoma/io/_registration/ambient_label_mappings.py
  apis/python/src/tiledbsoma/options/_soma_tiledb_context.py
  apis/python/tests/test_dense_nd_array.py
  apis/python/tests/test_factory.py
Due: python_api

WIP
  apis/python/src/tiledbsoma/_collection.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/soma_collection.cc
  apis/python/src/tiledbsoma/soma_group.cc
Due: python_api

Remove Filter{List} usage
  apis/python/src/tiledbsoma/options/_tiledb_create_options.py
Due: python_api

[wip] Get typing errors and metadata issues fixed
  apis/python/src/tiledbsoma/_collection.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/common.cc
  apis/python/src/tiledbsoma/soma_collection.cc
  apis/python/src/tiledbsoma/soma_group.cc
Due: python_api

[c++] Add `SOMAArray::config_options` getter
  libtiledbsoma/src/soma/soma_array.h
  libtiledbsoma/src/utils/arrow_adapter.cc
  libtiledbsoma/src/utils/arrow_adapter.h
  libtiledbsoma/test/unit_soma_dataframe.cc
Due: libtiledbsoma

[c++] Add missing `SOMACollection` getters and setters
  apis/python/src/tiledbsoma/_dense_nd_array.py
  libtiledbsoma/src/soma/soma_collection.cc
  libtiledbsoma/src/soma/soma_collection.h
  libtiledbsoma/src/soma/soma_experiment.cc
  libtiledbsoma/src/soma/soma_experiment.h
  libtiledbsoma/src/soma/soma_group.cc
  libtiledbsoma/src/soma/soma_group.h
  libtiledbsoma/src/soma/soma_measurement.cc
  libtiledbsoma/src/soma/soma_measurement.h
  libtiledbsoma/test/unit_soma_collection.cc
Due: python_api, libtiledbsoma

WIP
  apis/python/src/tiledbsoma/_tdb_handles.py
Due: python_api

Remove tiledb-py version check; remove tiledb to arrow schema conversion
  apis/python/src/tiledbsoma/__init__.py
  apis/python/src/tiledbsoma/_arrow_types.py
  apis/python/src/tiledbsoma/_general_utilities.py
  apis/python/tests/test_query_condition.py
Due: python_api

Move update dataframe to C++
  apis/python/src/tiledbsoma/_dataframe.py
  apis/python/src/tiledbsoma/_util.py
  apis/python/src/tiledbsoma/io/ingest.py
  apis/python/src/tiledbsoma/options/_tiledb_create_options.py
Due: python_api

replace tiledb.vfs
  apis/python/setup.py
  apis/python/src/tiledbsoma/_general_utilities.py
  apis/python/src/tiledbsoma/io/_util.py
  apis/python/src/tiledbsoma/io/ingest.py
  apis/python/src/tiledbsoma/pytiledbsoma.cc
  apis/python/src/tiledbsoma/soma_collection.cc
  apis/python/tests/test_basic_anndata_io.py
  apis/python/tests/test_collection.py
  apis/python/tests/test_query_condition.py
Due: python_api

typing
  apis/python/src/tiledbsoma/_collection.py
  apis/python/src/tiledbsoma/_exception.py
  apis/python/src/tiledbsoma/_experiment.py
  apis/python/src/tiledbsoma/_factory.py
  apis/python/src/tiledbsoma/_measurement.py
  apis/python/src/tiledbsoma/_tdb_handles.py
  apis/python/src/tiledbsoma/io/ingest.py
Due: python_api

Initial commit of some first tests
  apis/r/DESCRIPTION
  apis/r/inst/tinytest/helpers.R
  apis/r/inst/tinytest/test-Arrow-utils.R
  apis/r/inst/tinytest/test-Blockwise.R
  apis/r/inst/tinytest/test-ConfigList.R
  apis/r/inst/tinytest/test-CoordsStrider.R
  apis/r/tests/tinytest.R
Due: none

dockerfile
  docker/debug.dockerfile
  docker/test-bisect.sh
  docker/test.sh
Due: none

docker: `pip install -e .[dev]`, ENTRYPOINT `pytest`
  docker/debug.dockerfile
Due: none

docker: `make data` (required before some tests)
  docker/debug.dockerfile
Due: none

test_pandas_indexing cleanup, test_registration_mappings import tweaks
  apis/python/tests/test_registration_mappings.py
Due: none
